/*Marco Sanico
10/6/2025
CIS-216
cascading style sheet for the funny*/

* { /* will probably stay empty, just here in case */

} 

header {
    align-items: center;
    justify-content: center;
    background:#FFFFFF;
    height: 210px;
    width: 205px;
    padding-top: .2em;
    margin-left:auto;
    margin-right:auto;
}

h1 {    
    text-align:center;
    color:#1B2021;
    font-weight:bold;
}

body {

    background-color: #FFD9DA;
    color:#1B2021;
    font-family:fantasy;

}

dt {
    text-decoration: underline;
}

#wrapper { /*appropriately wraps across the entire page, its like * but not really at all */
    border-top: 25px solid #1B2021;
    background-color: #EA638C;
    margin:auto;
    min-width:25%;
    max-width:75%;

}

nav { /*there's a ton thats part of the nav indivdually, so i'm tabbing it over for clarity's sake*/
    background: #89023E;
    float: left;
    min-height:fit-content;
    width: 90px;
    height:450px;

}
    .minitext {
        font-size:x-small;
    }

    a:link {
        color:white
    }

    a:visited {
        color:pink
    }

    a:hover {
        color:darksalmon
    }

    a:active{ /* like okay i know why it exists, but its such a slim window to actually see it, why even change it? */

    }

main { 
    
    margin-left: 100px;
    display: block;

}

footer {
    background-color:#1B2021;
    color: lightgray;
}


/*images and other individual thingies (individual explanations!)*/

#indeximage{ /*image on the homescreen that sits on the right*/
    background-color: #EA638C;
    float:right;
    width:350px;
    height:350px;
    background-image: url(media/ponytail.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#indextext{ /*text that comes with the image above (shoutout to hachi)*/
    float:right;
}

#headerimage{ /*despite this saying image, its the gif that displays at the top of each page*/
    background-color: #FFFFFF;
    float:left;
    padding-left: 2.5%;
    width:200px;
    height:125px;
    background-image:url(media/marco.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#linkssubtext { /*custom styling for the right-sitting textbox on the links page*/
    background: #89023E;
    float: right;
    min-height: fit-content;
    width: fit-content;
    height: fit-content;
    margin-right:10%;
    color:white;
}